<%- include('includes/head'); %> 
<%- include('includes/nav'); %>
<div class="container text-center">
  <h1 class="">Erro: 404</h1>
  <p>Página não encontrada</p>
</div>
<%- include('includes/footer'); %>
